a#back {
    display: block;
    position: fixed;
    left: 10px;
    top: 10px;
    color: #5E5E5E;
    padding: 20px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    font-size: 2em;
}

div.wrapper {
    background-color: rgba(255, 255, 255, 0.85);
    width: 100vw;
    height: 100vh;
    padding-top: 200px;
}

h1#room-name {
    font-size: 5em;
}

canvas {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: white;
    border: 1px solid #e0e0e0;
    width: 1200px;
    height: 800px;
}