a#back {
    display: block;
    position: fixed;
    left: 10px;
    top: 10px;
    color: #5E5E5E;
    padding: 20px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    font-size: 2em;
}

div.wrapper {
    width: 1500px;
    height: 800px;
}

div.wrapper ul {
    width: 280px;
    height: 800px;
    float: right;
    list-style: none;
    font-size: 16pt;
    border: 1px solid #e0e0e0;
    margin: 0;
    margin-left: 20px;
    padding-left: 0;
}

div.wrapper li {
    padding: 10px;
    cursor: pointer;
}

div.wrapper li:hover {
    text-decoration: line-through;
    color: rgb(192, 40, 40);
}

div.wrapper.fade {
    background-color: rgba(255, 255, 255, 0.85);
    width: 100vw;
    height: 100vh;
    padding-top: 200px;
}

h1#room-name {
    font-size: 5em;
}

canvas {
    background-color: white;
    border: 1px solid #e0e0e0;
    width: 1200px;
    height: 800px;
}